.name {
    -unity-text-align: upper-center;
}

.role {
    -unity-text-align: upper-center;
}

.license-plate-container {
    align-items: center;
}

.vehicle-details-container {
    flex-direction: row;
    justify-content: space-around;
}

.class-container {
    align-items: center;
}

.model-container {
    align-items: center;
}
