.flow {
}

.step {
    flex-grow: 1;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background-color: rgb(255, 255, 255);
}

.step .active {
    background-color: var(--theme-color);
}

.flow #ConfirmButton {
    background-color: rgb(255, 255, 255);
    -unity-text-align: upper-center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.step #StepContainer {
}
