.messaging .subview-contacts {
    width: 100%;
}

.messaging MessagingField {
    height: 200px;
    padding-bottom: 10px;
}

.messaging MessagingField #SendButton {
    width: 75px;
    height: 75px;
}

.messaging .contact-entry {
    min-height: 150px;
    margin: 10px;
}

.messaging .avatar {
    width: 75px;
    height: 75px;
    margin: 10px;
}