.view {
    height: 100%;
}

.side-view {
    width: 400px;
    height: 100%;
    background-image: url('project://database/Assets/Graphics/left-bar.png?fileID=21300000&guid=79fc5e4deaac13e48aa53ebcdc92f8c8&type=3#left-bar');
    position: relative;
}

.full-view {
    flex-grow: 1;
    height: 100%;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    background-color: rgb(255, 255, 255);
    position: relative;
}
