.messaging .subview-contacts {
    width: 30%;
    min-width: 300px;
    max-width: 500px;
}

.messaging MessagingField {
    height: 200px;
    padding-bottom: 5px;
}

.messaging MessagingField #SendButton {
    width: 50px;
    height: 50px;
}

.messaging .avatar {
    width: 50px;
    height: 50px;
    margin: 10px;
}