.panel {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
    padding-left: 48px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}