#ContactListEntry {
    flex-grow: 1;
    flex-direction: row;
}

#DetailsContainer {
    justify-content: center;
}

#Avatar {
    width: 64px;
    height: 64px;
}

#PreviewText {
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 128px;
}
