#AddressContainer {
    align-items: center;
}

#DistanceAndEtaContainer {
    flex-direction: row;
    justify-content: space-around;
}

#DistanceContainer {
    align-items: center;
}

#EtaContainer {
    align-items: center;
}
