.message-list {
    flex-direction: column-reverse;
    height: 100%;
}

.message-list .scroll-view-with-shadow {
    flex-grow: 1;
}

.message-list #unity-content-container
{
    flex-direction: column-reverse;
}