.option {
    margin-right: 24px;
}

.activated {
    color: var(--theme-color);
    -unity-font-definition: url('project://database/Assets/Graphics/Fonts/OpenSans/OpenSans-Bold.ttf?fileID=12800000&guid=68e7b07bba1bee2448945f56641bd1fd&type=3#OpenSans-Bold');
}

.deactivated {
    color: var(--grey-text-color);
    -unity-font-definition: url('project://database/Assets/Graphics/Fonts/OpenSans/OpenSans-Regular.ttf?fileID=12800000&guid=7f5870a7068fc70459003ec9aee968c8&type=3#OpenSans-Regular');
}
