.panel {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
    padding-left: 48px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.task-details #ButtonContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    flex-direction: row;
}

.task-details .animated-button {
    flex-grow: 1;
    flex-basis: 100%;
    margin: 16px;
    justify-content: center;
    align-content: center;
}