#SettingNameText {
    color: var(--grey-text-color);
    -unity-font-definition: url('project://database/Assets/Graphics/Fonts/OpenSans/OpenSans-Bold.ttf?fileID=12800000&guid=68e7b07bba1bee2448945f56641bd1fd&type=3#OpenSans-Bold');
}

.dangerous #SettingNameText {
    color: var(--mcp-full-color);
}
