#WorkerListEntry {
    flex-grow: 1;
    flex-direction: row;
}

#TextContainer {
    justify-content: center;
}

#NameText {
}

#StatusText {
}

#Avatar {
    width: 64px;
    height: 64px;
    -unity-text-align: middle-center;
    border-radius: 999px;
    margin-right: 8px;
}
