#WorkerListEntry {
    flex-grow: 1;
    flex-direction: row;
}

#TextContainer {
    justify-content: center;
}

#NameText {
}

#StatusText {
}

#Avatar {
    width: 64px;
    height: 64px;
    -unity-text-align: middle-center;
    border-radius: 999px;
    margin-right: 8px;
}

.task-assigning {
    border-width: 3px;
}

.chosen {
    border-color: var(--mcp-not-full-color);
    background-color: rgba(61, 163, 93, 0.1);
}
