#SettingNameText {
    color: var(--grey-text-color);
    -unity-font-definition: url('project://database/Assets/Graphics/Fonts/Segoe%20UI%20Bold.ttf?fileID=12800000&guid=d39367468006e144194466e5686e40a3&type=3#Segoe UI Bold');
}

.dangerous #SettingNameText {
    color: var(--mcp-full-color);
}
