#ContactListEntry {
    width: 100%;
    flex-direction: row;
}

#TextContainer {
    justify-content: center;
}

#Avatar {
    width: 64px;
    height: 64px;
}

.desktop {
    height: 64px;
}

.mobile {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 128px;
}
